*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: dodgerblue;
    text-align: center;
}
h1{
    color: #fff;
    padding-top: 40px;
    padding-bottom: 30px;
}
.inp{
   width: 200px;
   height: 30px;
   border-radius: 5px;
   border: none;
   outline: none; 
}
button{
   width: 200px;
   height: 30px;
   border: none;
   outline: none;
   color: #fff;
   background-color:rgb(36, 85, 134);
}
.collection{
    margin-top: 40px;
    color: #fff;
}
.fa-trash-can{
    color: #fff;
}